# frozen_string_literal: true

require 'rails_helper'

RSpec.describe <%= class_name.classify %>, type: :<%= class_type_label %> do
  subject { described_class.call }

  describe 'an example' do
    it 'is a pending example'
  end
end
